html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.top-buttons {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px; /* Добавим небольшой отступ снизу */
}

.top-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: white;
}

.top-button:first-child::before {
  display: none; /* Убираем полосу перед первой кнопкой */
}

.top-button:hover {
  background-color: #333;
}