html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.top-buttons {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 20px; /* Добавим небольшой отступ снизу */
}

.top-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  padding: 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: white;
}

.top-button:first-child::before {
  display: none; /* Убираем полосу перед первой кнопкой */
}

.top-button:hover {
  background-color: #333;
}
.btn{
  color: #313133;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 8px 20px;
  margin: 0 15px;
  border: none;
  border-radius: 50px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out 0s;
}
.btn:focus,
.btn:hover{
  color: #313133;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  transform: translateY(-6px);
}
.btn:before{
  content: '';
  min-width: calc(100% + 17px);
  min-height: calc(100% + 17px);
  border-radius: 50px;
  border: 5px solid #00FFCB;
  box-shadow: 0 0 40px rgba(0,255,203,.7);
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) scale(0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all .3s ease-in-out 0s;
}
.btn:hover:before{
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}
@media only screen and (max-width: 767px){
  .btn{ margin-bottom: 30px; }
}
.image-center {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; /* Удаляем границу */
}
.td-statistic-low{
  width: 175px;
}
.td-statistic-high{
  width: 250px;
}
.custom-offset-left {
  margin-left: -20px; /* На сколько вы хотите сместить влево */
}