@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h2>Выберите файл для открытия</h2>
        <a href="@Url.Action("UploadComparingTables","Home")" class="btn btn-primary" style="border-radius: 12px">Выбрать файлы для сравнения</a>
        
        <!-- Обернуть форму в блок с классом text-center для центрирования -->
        <div class="text-center mt-3">
            <form id="uploadForm" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
                <input type="file" id="fileInput" name="file" style="display: none;" onchange="document.getElementById('uploadForm').submit();" />
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="uploadButton" style="border: none; background-color: transparent; padding: 0;">
                        <img src="img/upload.jpg" alt="Upload" width="300" height="250" class="image-center"/>
                    </button>
                </span>
            </form>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        document.getElementById("uploadButton").addEventListener("click", function () {
            document.getElementById("fileInput").click();
        });
    </script>
}
