@model List<ExcelParser.Parser.Models.TableRow>

@{
    Layout = "_TableLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="container-fluid pt-5">
    
   
</div>
</body>
</html>